#app{
    position: relative;
    height: 100vh;
}
html{
    min-height: 100vh;
}
body{
    background-color: var(--gray-dark);
    color: var(--white);
}
.navbar{
    background-color: #1e1e1e !important;

}
#footer{
    padding: 1rem 0;
    position: fixed;
    background-color: #1e1e1e;
    right: 0;
    left: 0;
    bottom: 0;
}
